body {
    font-family: 'raleway';
    margin: 0;
}

header {
    display: flex;
    max-height: 79px;
    
    .logo {
        max-height: 19px;
        padding: 30px 50px;
    }

    .navbar {
        display: flex;
        max-height: 35px;
        padding: 0 25px;

        li {
            list-style-type: none;
        }
    }
}