body {
    display: flex;
    justify-content: center;
    font-family: 'raleway';
    margin: 0;
}

.main-container {
    max-width: 1440px;
}

header {
    display: flex;
    justify-content: space-between;
    max-height: 79px;
    
    .logo {
        max-height: 19px;
        padding: 30px 50px;
    }

    .navbar {
        display: flex;
        max-height: 35px;
        width: 20rem;
        padding: 0 25px;

        .navbar-list {
            display: flex;
            font-size: 16px;
            height: 100%;
            justify-content: space-around;
            margin: 0;
            list-style-type: none;
            padding: 0;
            width: 100%;
        }

        .navbar-list-item {
            align-items: end;
            display: flex;
            height: 100%;

            & a {
                color: black;
                text-decoration: none;
            }
        }

        .active {
            border-top: 2px solid #0065FC;
            
            & a {
                color: #0065FC;
            }
        }
    }
}

main {
    margin-top: 30px;
    padding: 0 50px;

    & h1, h2 {
        margin: 0;
    }

    .subtitle {
        font-size: 16px;
        margin: 8px 0 0 0;
    }

    .search-option {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        row-gap: 35px;

        .searchbar {
            border: 1px solid #F2F2F2;
            border-radius: 15px 15px;
            display: flex;
            margin: 0;
            width: 377px;

            .fa-location-dot {
                background-color: #F2F2F2;
                border-radius: 15px 0 0 15px;
                font-size: 19px;
                padding: 15px;
            }

            .search-input {
                border: 0;
                color: black;
                font-size: 16px;
                font-weight: bold;
                padding: 0 24px;
                text-align: center;
                width: 213px;

                &::placeholder {
                    color: black;
                    text-align: center;
                }

                &:focus-visible {
                    outline: 0;
                }
            }

            .search-button {
                background-color: #0065FC;
                border: 1px solid #0065FC;
                border-radius: 0 15px 15px 0;
                color: white;
                font-size: 16px;
                font-weight: bold;
                padding: 15px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .filter {
            align-items: center;
            display: flex;
            column-gap: 15px;

            .label {
                font-size: 16px;
                font-weight: bold;
            }

            .filter-button {
                background-color: white;
                border: 2px solid #D9D9D9;
                border-radius: 25px;
                font-size: 17px;
                font-weight: bold;
                height: 50px;
                padding: 4px 19px;

                &:hover {
                    background-color: #DEEBFF;
                    cursor: pointer;
                }

                & i {
                    color: #0065FC;
                    font-size: 22px;
                    margin-right: 10px;
                }
            }
        }

        .info {
            align-items: center;
            column-gap: 10px;
            display: flex;
            font-size: 16px;
            margin: 0;

            & i {
                align-items: center;
                border: 1px solid #D9D9D9;
                border-radius: 50%;
                color: #0065FC;
                display: flex;
                font-size: 12px;
                height: 24px;
                justify-content: center;
                width: 24px;
            }
        }
    }

    .section-presentation {
        margin-top: 35px;

        .section-presentation-content {
            background-color: #F2F2F2;
            border-radius: 15px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 30px;
            row-gap: 30px;

            .section-presentation-content-cards {
                display: flex;
                row-gap: 30px;
            }
        }
    }

    .card-link {
        display: block;
        color: black;
        text-decoration: none;

        .presentation-card{
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
            box-sizing: border-box;
            height: 100%;
            padding: 5px;

            .presentation-card-cover {
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }

            .presentation-card-content {
                display: flex;
                flex-direction: column;
                margin: 5px 10px 0 10px;
                row-gap: 8px;

                .presentation-card-title {
                    font-size: 16px;
                    margin: 0;
                }

                .presentation-card-text {
                    font-size: 14px;
                    margin: 0;
                }

                .presentation-card-rating {
                    font-size: 14px;

                    .fa-star {
                        &.on {
                            color: #0065FC;
                        }

                        &.off {
                            color: #F2F2F2;
                        }
                    }
                }
            }
        }
    }

    .accommodations-and-trendings {
        display: flex;
        column-gap: 40px;
        
        .accommodations {
            width: 70%;

            .accommodations-cards {
                flex-wrap: wrap;
                justify-content: space-between;

                .accommodations-link {
                    width: 31%;

                    .accommodations-card{
                        .accommodations-card-cover {
                            height: 7.8rem;
                            width: 100%;
                        }

                        .accommodations-card-content {
                            padding-bottom: 10px;
                        }
                    }
                }

                .list-link {
                    color: black;
                    font-size: 18px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }

        .trendings {
            width: 30%;

            .trendings-title {
                align-items: center;
                display: flex;
                justify-content: space-between;

                .fa-chart-line {
                    color: #0065FC;
                }
            }

            .trendings-cards {
                flex-direction: column;
                height: 100%;

                .trendings-link {
                    height: 30%;

                    .trendings-card {
                        display: flex;
                        height: 100%;

                        .trendings-card-cover {
                            border-radius: 20px 0px 0 20px;
                            height: 100%;
                            width: 35%;
                        }

                        .trendings-card-content {
                            justify-content: space-between;
                            margin: 5px 0 5px 15px;
                            row-gap: 0;
                        }
                    }
                }
            }
        }
    }

    .section-activities {
        .activities {
            background-color: white;

            .activities-cards {
                column-gap: 30px;
                justify-content: space-between;
                
                .activities-link {
                    width: 25%;

                    .activities-card {
                        height: 100%;

                        .activities-card-cover {
                            height: 23.8rem;
                            width: 100%;
                        }

                        .activities-card-content {
                            padding: 15px 9px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: #F2F2F2;
    display: flex;
    margin: 35px 50px 0 50px;

    .footer-section {
        padding: 20px;
        width: 100%;

        .footer-section-title {
            font-size: 18px;
            font-weight: bold;
            margin: 0;
        }

        .footer-section-list {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            margin: 15px 0 0 0;
            padding: 0;
            row-gap: 15px;

            .footer-section-list-item {
                .footer-link{
                    color: black;
                    font-size: 16px;
                    text-decoration: none;
                }
            }
        }
    }
}

/* Tablet style */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    main {
        .accommodations-and-trendings {
            column-gap: 0;
            flex-direction: column;
            row-gap: 50px;

            .accommodations {
                width: 100%;
            }

            .trendings {
                width: 100%;

                .trendings-cards {
                    column-gap: 30px;
                    justify-content: space-between;
                    flex-direction: row;

                    .trendings-link {
                        height: auto;
                        width: 31%;
                    }
                }
            }
        }

        .section-activities {
            .activities {    
                .activities-cards {
                    .activities-link {
                        .activities-card {
                            .activities-card-cover {
                                height: 17.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}